<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.studentmanager.dao.mapper.StudentMapper">

    <select id="searchStudentByIdAndName" resultType="com.lc.studentmanager.entity.Student">
          select * from student
          <where>
              <if test="stuid!=null and stuid!=''">
                  and stuid like '%${stuid}%'
              </if>
              <if test="stuname!=null and stuname!=''">
                  and stuname like '%${stuname}%'
              </if>
          </where>
    </select>

</mapper>